body, html, *
  margin 0
  padding 0

body
  width 100%

ul 
  list-style none
.row
  width 100%
  display flex
  & .col-12
    min-width 100%
    padding 0 2%
  & .col-6
    min-width calc( 100% / 2 )
    padding 0 2%
  & .col-4
    min-width calc( 100% / 3 )
    padding 0 2%
  &::after
    display block
    content ""
    clear both

.main-container
  display grid
  grid-template-areas: 
  "header"\
  "content"\
  "footer"
  grid-template-columns 100%
  & > header 
    grid-area header
  & > main
    grid-area content
  & > footer
    grid-area footer