.make-projects
  display grid
  grid-template-areas:
  "dashboard-make-projects title-project"\
  "dashboard-make-projects content-make-projects"\
  "dashboard-make-projects content-make-projects"
  grid-auto-columns: 1fr 3fr
  & > .container-make-projects
    grid-area content-make-projects
    padding 10px
    max-width 95%
  & > .title-project
    grid-area title-project
    min-height 50px
    border-bottom 1px solid black
    max-width 90%
  & > .dashboard-make-projects
    grid-area dashboard-make-projects
    grid-row-start 1
    grid-row-end 3
